<template>
  <div class="about">
    <div class="text-container">
      <h3>Acerca de nosostros</h3>
      <br/>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae neque eum possimus ad maxime corrupti, nisi voluptatum saepe modi beatae consectetur expedita impedit! Velit nam a saepe accusamus eveniet excepturi.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, est! Similique, quaerat accusantium. Quam nisi nesciunt doloremque corporis quo, ipsa, fugit, ad cum deleniti aspernatur eaque repellendus earum ipsam voluptatum?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium minima, nihil corrupti qui rerum iusto officia assumenda magni quam molestiae quibusdam debitis? Veritatis, dolore. Beatae commodi sunt vitae perspiciatis ab.
    </div>
  </div>
</template>

<script>
export default {
  name: 'about'
}
</script>

<style>
.about {
  background-image: url("../assets/images/background_palm_tree.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
}

.text-container {
  background: rgba(0, 0, 0, 0.7);
  color: aliceblue;
  padding: 50px;
  width: 50vw;
}

</style>
